@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.7
	font-family: $default-font
	overflow-x: hidden
	background-color: $lighten

.img-responsive
	display: block
	max-width: 100%
	height: auto

.img-responsive
	img
		display: block
		max-width: 100%
		height: auto

.right
	float: right

.left
	float: left

.center
	text-align: center

.relative
	position: relative

h1, h2, h3, h4, h5, h6
	font-family: $header-font

h1
	font-size: 60px
	color: #fff

h2
	font-size: 40px
	color: #fff

h3
	font-size: 20px
	color: $accent

h4
	font-size: 18px

h5
	font-size: 16px

h6
	font-size: 14px

.top-row
	padding: 25px 0

.logo
	display: inline-block
	.logo-img
		float: left
		img
			display: inline-block
			max-width: 100%
	h1
		color: #fff
		display: inline-block
		font-family: $logo-font
		font-size: 20px
		line-height: 58px
		margin: 0 0 0 20px
		text-transform: uppercase

.main-nav
	position: relative
		
.menu
	list-style-type: none
	margin: 0
	padding: 0
	li
		display: inline-block
		margin-right: 60px
		line-height: 58px
		&.active
			a
				color: $accent
	a
		color: #919191
		text-transform: uppercase
		transition: all $tr
		&:hover, &:focus
			text-decoration: none
			transition: all $tr
		&:hover
			color: $accent

#search
	position: absolute
	right: 0
	top: 0
	line-height: 58px

#label
	color: #919191
	transition: all $tr
	position: relative
	z-index: 20
	label
		cursor: pointer
		display: block
	&.active 
		label
			background-color: $accent
			color: #fff
	&:hover, &:focus
		transition: all $tr
	&:hover
		color: $accent

#input
	position: absolute
	top: 0
	left: 60px
	width: 450px
	line-height: 24px
	z-index: 5
	overflow: hidden
	input
		display: block
		position: absolute
		top: 0
		left: -450px
		width: 450px
		height: 100%
		margin: 0
		padding: 0 10px
		border: none
		background-color: #585858
		color: #fff
		font-size: 14px
		backface-visibility: none
		border-radius: 0
		transition: right 0
		&:focus
			outline: none
	 &.focus
		z-index: 20
		input
			left: 0
			transition: right .3s






@import "media" // Всегда в конце