@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

h1, h2, h3, h4, h5, h6
	font-family: $header-font

h1
	font-size: 60px
	color: #fff

h2
	font-size: 40px
	color: #fff

h3
	font-size: 20px
	color: $accent

h4
	font-size: 18px

h5
	font-size: 16px

h6
	font-size: 14px


[class^="icon-"], [class*=" icon-"]
	font-family: 'sapphire' !important
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon-android-calendar:before
	content: "\e900"

.icon-antenna:before
	content: "\e901"

.icon-arrow-right-c:before
	content: "\e902"

.icon-arrow-thin-right:before
	content: "\e903"

.icon-basketball:before
	content: "\e904"

.icon-calendar:before
	content: "\e905"

.icon-call-end:before
	content: "\e906"

.icon-chatboxes:before
	content: "\e907"

.icon-chevron-down:before
	content: "\e908"

.icon-cup:before
	content: "\e909"

.icon-email-outline:before
	content: "\e90a"

.icon-envelope:before
	content: "\e90b"

.icon-like:before
	content: "\e90c"

.icon-line-left:before
	content: "\e90d"

.icon-line-left-right:before
	content: "\e90e"

.icon-line-right:before
	content: "\e90f"

.icon-load-c:before
	content: "\e910"

.icon-location:before
	content: "\e911"

.icon-location-outline:before
	content: "\e912"

.icon-music-note:before
	content: "\e913"

.icon-planet:before
	content: "\e914"

.icon-play:before
	content: "\e915"

.icon-pointer:before
	content: "\e916"

.icon-quote:before
	content: "\e917"

.icon-rocket:before
	content: "\e918"

.icon-search:before
	content: "\e919"

.icon-search-strong:before
	content: "\e91a"

.icon-social-facebook:before
	content: "\e91b"

.icon-social-google-plus:before
	content: "\e91c"

.icon-social-instagram:before
	content: "\e91d"

.icon-social-instagram-outline:before
	content: "\e91e"

.icon-social-linkedin:before
	content: "\e91f"

.icon-social-pinterest:before
	content: "\e920"

.icon-social-twitter:before
	content: "\e921"

.icon-social-youtube:before
	content: "\e922"

.icon-speedometer:before
	content: "\e923"





@import "media" // Всегда в конце